<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create Short URL</title>
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <div class="wrapper">
      <div class="main">
        <h1>Create short URL</h1>
        <div class="url-form">
          <form action="/url" method="post">
            <label>Enter URL</label>
            <input type="text" placeholder="http://example.com" name="url" />
            <button type="submit">Submit</button>
          </form>
        </div>
        <% if (locals.id) { %>
        <h3>
          Generated URL : http://localhost:8000/url/<span class="shorturl"
            ><%=id%></span
          >
        </h3>
        <% } %>
      </div>
    </div>
  </body>
</html>
